# See [Clang-Format Style Options](https://clang.llvm.org/docs/ClangFormatStyleOptions.html)

Language: Cpp
Standard: c++20

# See [BraceWrapping](https://clang.llvm.org/docs/ClangFormatStyleOptions.html#bracewrapping)
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true

AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
Cpp11BracedListStyle: false
FixNamespaceComments: true
IndentWidth: 4
IndentWrappedFunctionNames: true
NamespaceIndentation: All
PackConstructorInitializers: NextLine
PenaltyExcessCharacter: 10
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
ReflowComments: false
SpaceAfterLogicalNot: true
SpaceBeforeCpp11BracedList: true
SpaceInEmptyBlock: true
TabWidth: 4

