WarningsAsErrors: '*'
HeaderFilterRegex: .*
Checks: cppcoreguidelines-*,modernize-use-auto
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: modernize-use-auto.MinTypeNameLength
    value: 0
